.table,.table-title{
  width: 50%;
  margin: 0 25% auto;
}

h2{
  font-size: 25px;
}

.total{
  font-size: 20px;
  width: 0%;
  margin: 0 25% auto;
}

.total .table td{
  border-top: 0px !important;
}
