h1{
	margin-top: 50px;
	text-align: center;
	color: #214d32;
	font-weight: bold;
}
.par{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 200px;
}

.lay{
	color: #214d32;
	font-weight: bold;
}

.button{
	background-color: #214d32;
	color: white;
	border-radius: 10px;
	margin-left: 2%;
	margin-right: 2%;
	box-shadow: 4px 4px grey;
	width: 100%;

}

.form-daftar{
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 50px;
}
