footer{
  padding: 3% 10%;
  background-color: #ECECEC;
  font-family: 'Poppins';
}

footer h2{
  font-weight: bold;
}

footer ul{
  list-style-type: none;
  padding: 0px;
}

footer a, footer p{
  color: #434343 !important;
  text-decoration: none;
}

.contact p{
  color: #528F6C !important;
  font-weight: bold;
}

.text-footer{
  background-color:#528F6C;
  height: 100%;
  color: white;
  padding: 5px 0px;
}

.socials{
  background-color: #F6F6F6;
}

.socials img{
  margin: 5px;
  border-radius: 100% !important;
}
