*{
	font-family: 'Poppins';
}
.form-login{
margin-top: 200px;
margin-right: 400px;
margin-left: 400px;
margin-bottom: 200px;
}
h1{
	color: #214d32;
	font-weight: bold;
}

.asu{
	color: #214d32;
	font-weight: bold;
}

.button{
	width: 95%;
	background-color: #214d32; 
}
.lupapw {
	color: #214d32;
    font-weight: bold;
}