.navbar{
	width: 100%;
	height: 100%;
	background-color: white;
	color: #434343;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand{
	padding: 5px 50px;
	border-right: 0.5px #434343 solid;
}

.search-bar{
	border: none;
}

.search-bar:focus{
	box-shadow: none;
}

.btn-daftar{
	width: 120px;
	background-color: #F98553;
	color: white;
	margin: 0px 5px;
	font-weight: bold;
}

.btn-daftar:focus, .btn-daftar:hover, .btn-daftar:active{
	color: white;
	background-color: #FF9C72;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-login{
	width: 120px;
	color: #528F6C;
	margin: 0px 5px;
	font-weight: bold;
}

.btn-login:focus, .btn-login:hover, .btn-login:active{
	box-shadow: none;
	color: #528F6C;
}

.navbar-nav .fa-search{
	margin: 10px;
}
