h1{
	margin-top: 50px;
	text-align: center;
	color: #214d32;
	font-weight: bold;
}

.avatar{
	border-radius: 20px;
	margin-bottom: 10px
}

.form-profile{
	padding: 20px 10%;
	text-align: center;
	border-radius: 5px;
}


.ipsw{
	border-radius: 5px;
	text-align: center;
}

.su{
	text-align: center;
}
