h1{
	margin-top: 50px;
	text-align: center;
	color: #214d32;
	font-weight: bold;
}

.avatar{
	border-radius: 360px;
	margin-bottom: 10px;
}

.card {
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
	border-radius: 10px;
}

.card-title{
	text-align: left;
}

.card-text{
	text-align: left;
}

.gn{
	border-radius: 20px;
	margin-bottom: 10px;
}